body {
    
    background-image: url('../images/istockphoto-973812618-1024x1024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }


  .container {
    background: #ededf3;
    width: 50%;
    margin: 15% auto 0 auto; /* Centers the container and adds top margin */
    text-align: center;
    padding: 20px;
    
    border: 1px solid rgb(85, 189, 135); /* Keeps the green border */
    border-radius: 10px;
    height: 500px;
    
    
}

/* Centering the form fields */
.fields {
    margin: auto;
}

/* Making the description input bigger */
#dess {
    width: 100%;
    height: 120px;
    resize: vertical;
    padding: 5px;
    border: 3px solid rgb(85, 189, 135);
    border-radius: 5px;
}




.fields{
 
    margin: auto;
}



input{
    padding: 2%;
    border-color: rgb(85, 189, 135) ;
    border-radius: 5px;
    border-width: 3px;
    background-color: #ededf3;
}
.dess{
    width: 100%;
    height: 100px;
    resize: vertical;
}

.dropdown1{
    border-color:rgb(85, 189, 135) ;
    border-radius: 5px;
    border-width: 3px;
    background-color: #ededf3;
}

.dropdown2{
    border-color:rgb(85, 189, 135) ;
    border-radius: 5px;
    border-width: 3px;
    background-color: #ededf3;
}


a{
    color: black;
    
}

.backBtn{
    
    text-align: left;
    margin-left: -400px;
    text-decoration: none;
   
    font-weight: bold;
}

table{
    border-spacing: 20px;
    
}