body {
    
    background-image: url('../images/istockphoto-973812618-1024x1024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
.continer{
    background : #ededf3;
    width : 450px;
    padding : 10rem;
    margin : 50px auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 15%;
    box-shadow: 10px 10px 10px black;
    border-style: solid;
    border-color: rgb(85, 189, 135) ;
    border-width: 5px;
    
    
}

