body {
    
    background-image: url('../images/istockphoto-973812618-1024x1024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
.continer{
    background : #67ab9f;
    width : 200px;
    padding : 75px;
    margin : 50px auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 10%;
    box-shadow: 10px 10px 10px black;
    border-style: solid;
    border-color: #67ab9f;
    border-width: 5px;
    
    
}

input{
  padding: 8px;
  border-color: black;
  border-radius: 5px;
  border-width: 3px;
  background-color: white;
  
}

label{
  font-size: 20px;
  color: white;
  float: left;
  margin-left: 10%;
}

.errorMessage{
  text-align: center;
  background-color: rgba(255, 1, 1, 0.728);
  max-width: 200px;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  margin: 20px auto;
}

.title{
  padding-bottom:  15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.options{
  margin-top: 20px;
  display: block;
  color: black;
}
.signUpBtn{
  display: block;
  color: black;
  
}

.bSellerBtn{
  color: black;
  
}
.loginBtn{
  padding: 5px;
  width: 120px;
  max-width: 100%;
}
.loginBtn:hover{
  background: gray;
}

