body {
    
    background-image: url('../images/istockphoto-973812618-1024x1024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }


  .container{
    background : #67ab9f;
    width : 450px;
    padding : 60px;
    margin : 50px auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 7%;
    box-shadow: 10px 10px 10px black;
    border-style: solid;
    border-color: #67ab9f;
    border-width: 5px;
    
    
}

.title{
    padding-bottom:  15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.fields{
 
    margin-left: auto;
    margin-right: auto;
}

.signupBtn{
    float: right;
    margin-right: -100%;
    width: 100px;
    max-width: 100%;
    font-size: 16px;
    
    

}
.signupBtn:hover{
    background-color: grey;
}

input{
    padding: 8px;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;
    background-color: white;
}

label{
    font-size: 18px;
    color: white;
    float: left;
    margin-left: 1%;
  }

select{
    padding: 8px;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;
    background-color: white;
    font-size: 14px;
    width: 160px;
    max-width: 100%;
    

}



.navBtn{
    float: left;
    margin-left: 10%;
    margin-top: -12%;
    
}
a{
    color: black;
}

table{
    border-spacing: 20px;
}

.message{
    text-align: center;
    background-color: rgba(255, 1, 1, 0.728);
    max-width: 200px;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    margin: 20px auto;
}